<!DOCTYPE html>
<html lang="en-ca">
<head>
	<meta charset="UTF-8">
	<title>Jam Abalos | Portfolio Wireframe</title>
	<link href="{{site.baseurl}}/css/typography.css" rel="stylesheet">
	<link href="{{site.baseurl}}/css/grid.css" rel="stylesheet">
	<link href="{{site.baseurl}}/css/main.css" rel="stylesheet">
	<meta name="{{site.baseurl}}/handheldfriendly" content="true">
	<meta name="mobileoptimized" content="240">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link href="https://fonts.googleapis.com/css?family=PT+Sans" rel="stylesheet" type="text/css">
	<link href="{{site.baseurl}}/favicon.ico" rel="shortcut icon">
</head>
<body>

<nav>
	<a href="{{sate.baseurl}}/index.html">
		<img class="header" src="{{site.baseurl}}/images/logo.png" alt="Jam Abalos Logo">
	</a>
	<ul class="nav-social">
		<li>
		    <a href="https://www.facebook.com/AbalosJam">
				<img src="{{site.baseurl}}/images/facebook.svg" alt="Facebook">
			</a>
		</li>

		<li>
		    <a href="https://twitter.com/AbalosJam">
				<img src="{{site.baseurl}}/images/twitter.svg" alt="Twitter">
			</a>
		</li>

		<li>
		    <a href="https://ca.linkedin.com/in/jamabalos">
				<img src="{{site.baseurl}}/images/linkedin.svg" alt="Linkedin">
			</a>
		</li>
	</ul>
</nav>

	<main>
		{{content}}
	</main>

<footer class="footer micro grid island-half">
	<div class="unit [ xs-1 s-1 m-1 l-1 ]">
		<p class="push-none milli">© 2016 Jam Abalos</p>
	</div>
</footer>

</body>
</html>